<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/jquery/jquery-2.1.1.js"></script>
  </head>
  <body>
    {{{body}}}
    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui("tdd");
            var assert = chai.assert;
        </script>
        <script src="/qa/test-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>
            mocha.run();
        </script>
    {{/if}}
  </body>
</html>
